@model QLBH_MCDONALDS.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <table class="table">
        <tr>
            <th>Tên nguyên liệu</th>
            <th>Đơn vị chuyển đổi</th>
            <th></th>
        </tr>

        @foreach (var chiTiet in Model.DanhMucCheBiens)
        {
            <tr>
                <td>
                    @chiTiet.NguyenLieu.TenNL
                </td>

                <td>@chiTiet.DonViChuyenDoi</td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
