@model IEnumerable<QLBH_MCDONALDS.Models.ChiTietHoaDon>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-danger">Phòng bếp</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-danger">
                    </strong>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex flex-wrap justify-content-around">
                @foreach (var items in Model.GroupBy(item => new { item.MaHoaDon, item.HoaDon.TrangThai }))
                {
                    if (items.Key.TrangThai == 0)
                    {
                        <div class="card border-warning mb-3 col-sm-4">
                            <div class="card-header">Đơn đặt @items.Key.MaHoaDon</div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-8">Sản phẩm</th>
                                            <th class="col-4">Số lượng</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in items)
                                        {
                                            <tr>
                                                <td>@item.SanPham.TenSP</td>
                                                <td>@item.SoLuongSP</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>
                            <form action="@Url.Action("Serve", "PhongBep", new { id = items.Key.MaHoaDon })" method="post" class="center-block">
                                <button type="submit" class="btn btn-warning rounded-pill mb-3" name="submit">Phục vụ</button>
                            </form>
                        </div>
                    }
                }
            </div>
        </div> <!-- /.card-footer-->
    </div><!-- /.card -->
</section><!-- /.content -->
